<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="page header lone_tree_nav">
      <div class="row" style="position:relative;">
        <div class="col-md-6">
          <img src="logo.png" class="img-responsive" alt="Lone Tree Inc">
        </div>
        <div class="col-md-6 text-right" style="position:absolute;bottom:0;right:0;">
          <small><a href="mailto:lonetreeoffice@gmail.com?Subject=Lone%20Tree%20Online%20Registration&20Support" target="_top">Tech Support</a> |  <a href class="text-right" ng-click="logout()">Log Out</a></small>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <form data-toggle="validator" class="form-horizontal" ng-model="camperData" role="form" name="camperForm" ng-submit="submitCamper(camperData)" novalidate>
    <fieldset>

      <!-- Form Name -->
      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Camper's Personal Information</div>
        <div class="panel-body">

          <div class="form-group required">
            <label class="col-md-4 control-label" for="radios">First LT Camp?</label>
            <div class="col-md-4">
              <label class="radio-inline" for="radios-0">
      <input ng-model="camperData.first_time_flag" type="radio"  ng-value="1" ng-disabled="camperData.status == 'Submitted'" required/>
      Yes
    </label>
              <label class="radio-inline" for="radios-1">
      <input ng-model="camperData.first_time_flag"  type="radio" ng-value="0" ng-disabled="camperData.status == 'Submitted'" required />
      No
    </label>
            </div>
          </div>



          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">First Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.name_first" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Middle Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.name_middle" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Last Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.name_last" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Multiple Radios (inline) -->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="radios">Gender</label>
            <div class="col-md-4">
              <label class="radio-inline" for="radios-3">
      <input ng-model="camperData.gender" type="radio"  value="Male" ng-disabled="camperData.status == 'Submitted'" required  />
      Male
    </label>
              <label class="radio-inline" for="radios-4">
      <input ng-model="camperData.gender" type="radio"  value="Female"  ng-disabled="camperData.status == 'Submitted'" required/>
      Female
    </label>
            </div>
          </div>


          <!-- Select Basic -->
          <div class="form-group required">
            <label class="control-label col-md-4" for="registration-date">Date of birth:</label>
            <div class="col-md-4">
              <div class="input-group registration-date-time">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                <input ng-model="camperData.date_of_birth" class="form-control" name="Date of Birth" id="date_of_birth" type="text" data-provide="datepicker" data-date-format="mm/dd/yyyy" required="" ng-disabled="camperData.status == 'Submitted'" />
              </div>
            </div>
          </div>


          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Home Address</label>
            <div class="col-md-4">
              <input ng-model="camperData.street" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Suite/Unit/Apartment No.</label>
            <div class="col-md-4">
              <input ng-model="camperData.street_two" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">City</label>
            <div class="col-md-4">
              <input ng-model="camperData.city" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">State</label>
            <div class="col-md-4">
              <input ng-model="camperData.state" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Postal Code</label>
            <div class="col-md-4">
              <input ng-model="camperData.postal_code" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">E-mail</label>
            <div class="col-md-4">
              <input ng-model="camperData.email" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Home Phone</label>
            <div class="col-md-4">
              <input ng-model="camperData.phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

        </div>
      </div>


      <!-- Form Name -->
      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Father/Guardian's Information (for those under 18)</div>
        <div class="panel-body">
          <!-- Text input-->

          <div class="form-group row">
            <div class="col-md-4">
              <div class="form-check">
                <label class="form-check-label">
            <input  ng-model="camperData.guardian_flag" class="form-check-input" type="checkbox" ng-true-value="1" ng-false-value="0" ng-readonly="camperData.status == 'Submitted'" /> Guardian
          </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput" ng-hide="camperData.guardian_flag">First Name</label>
             <label class="col-md-4 control-label show-condition" for="textinput" ng-show="camperData.guardian_flag">First Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.father_name_first" id="textinput" name="textinput" type="text" ng-required="camperData.guardian_flag" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput" ng-hide="camperData.guardian_flag">Last Name</label>
            <label class="col-md-4 control-label show-condition" for="textinput" ng-show="camperData.guardian_flag">Last Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.father_name_last" id="textinput" name="textinput" type="text" ng-required="camperData.guardian_flag" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput" ng-hide="camperData.guardian_flag">Work Phone</label>
            <label class="col-md-4 control-label show-condition" for="textinput" ng-show="camperData.guardian_flag">Work Phone</label>
            <div class="col-md-4">
              <input ng-model="camperData.fathers_work_phone" id="textinput" name="textinput" type="text" ng-required="camperData.guardian_flag" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput" ng-hide="camperData.guardian_flag">Cell Phone</label>
            <label class="col-md-4 control-label show-condition" for="textinput" ng-show="camperData.guardian_flag">Cell Phone</label>
            <div class="col-md-4">
              <input ng-model="camperData.fathers_cell_phone" id="textinput" name="textinput" type="text" ng-required="camperData.guardian_flag" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- End of portal -->
        </div>
      </div>

      <!-- Form Name -->
      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Mother's Information (for those under 18)</div>
        <div class="panel-body">
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">First Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.mother_name_first" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Last Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.mother_name_last" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Work Phone</label>
            <div class="col-md-4">
              <input ng-model="camperData.mothers_work_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Cell Phone</label>
            <div class="col-md-4">
              <input ng-model="camperData.mothers_cell_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

        </div>
      </div>

      <!-- Form Name -->
      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Emergency Contact</div>
        <div class="panel-body">
          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">First Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.emergency_contact_first_name" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>


          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Last Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.emergency_contact_last_name" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Home Phone</label>
            <div class="col-md-4">
              <input ng-model="camperData.emergency_home_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>
          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Cell Phone</label>
            <div class="col-md-4">
              <input ng-model="camperData.emergency_cell_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>
          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Relationship to Camper</label>
            <div class="col-md-4">
              <input ng-model="camperData.relationship_to_camper" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading ">Family Physician's Contact</div>
        <div class="panel-body">
          <!-- Text input-->


          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.physician_name" id="textinput" name="phys_name" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />
            </div>
          </div>


          <!-- Text input-->
          <!-- <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Last Name</label>
            <div class="col-md-4">
              <input ng-model="camperData.physician_last_name" id="textinput" name="phys_last_name" type="text" placeholder="" class="form-control input-md" required="required" ng-readonly="camperData.status == 'Submitted'" />
            </div>
          </div> -->

          <!-- Text input-->
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Work Phone</label>
            <div class="col-md-4">
              <input ng-model="camperData.physician_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>

          <!-- End of portal -->
        </div>
      </div>

      <!-- <div class="panel panel-info"> -->
        <!-- Default panel contents -->
        <!-- <div class="panel-heading ">Health and Insurance Information</div>
        <div class="panel-body"> -->
          <!-- Text input-->
          <!-- <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">Chronic of recurring illnesses or medical conditions (stomach upsets, rash, frequent colds, etc)</label>
            <div class="col-md-4">
              <input ng-model="camperData.physician_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">List any current medication being taken and why they are needed</label>
            <div class="col-md-4">
              <input ng-model="camperData.physician_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
                  </div>
            <div class="form-group required">
              <label class="col-md-4 control-label" for="textinput">Operations or serious injuries (dates)</label>
              <div class="col-md-4">
                <input ng-model="camperData.physician_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

              </div>
          </div>
          <div class="form-group required">
            <label class="col-md-4 control-label" for="textinput">List any Swimming or Activity Restrictions</label>
            <div class="col-md-4">
              <input ng-model="camperData.physician_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>
          <div class="form-group required">
          <label class="col-md-4 control-label" for="textinput">Insurance Company</label>
          <div class="col-md-4">
            <input ng-model="camperData.physician_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

          </div>
          </div>
          <div class="form-group required">
          <label class="col-md-4 control-label" for="textinput">Insurance Company Phone#</label>
          <div class="col-md-4">
          <input ng-model="camperData.physician_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />

          </div>
          </div>
          <div class="form-group required">
          <label class="col-md-4 control-label" for="textinput">Insurance Policy Number</label>
          <div class="col-md-4">
          <input ng-model="camperData.physician_phone" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="" ng-readonly="camperData.status == 'Submitted'" />
           <small class="form-text text-muted">Please email or fax photocopy of front and back of Insurance Card (helpful in emergencies).
lonetreeoffice@gmail.com or 575.354.5301.</small>
          </div>
          </div>
          <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  I understand that my child/myself <br /> does not have health insurance. I agree on behalf of my child/myself that my child/myself <br />  shares the responsibilityfor safety during Lone Tree programs and activities, and I personally assume on behalf of my child/myself that responsibility. I am responsible to cover the costs of any treatments that might be needed while attending Lone Tree Camps.
                </label>
              </div>
            </div> -->
          <!-- End of portal -->
        <!-- </div>
        </div> -->
        <!-- <div class="panel panel-info"> -->
          <!-- Default panel contents -->
          <!-- <div class="panel-heading ">Health and Insurance Information</div>
          <div class="panel-body"> -->
            <!-- Text input-->
            <!-- End of portal -->
          <!-- </div>
          </div> -->

      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Roommate Request</div>
        <div class="panel-body">
          <!-- Text input-->


          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Roommates</label>
            <div class="col-md-4">
              <input ng-model="camperData.roommates" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-readonly="camperData.status == 'Submitted'" />

            </div>
          </div>


          <!-- End of portal -->
        </div>
      </div>
      <div class="alert alert-success" role="alert" ng-show="updated">
        <strong>Success!</strong> Your entry is saved.
    </div>
    <div class="alert alert-success" role="alert" ng-show="saved">
      <strong>Success!</strong> Your entry is submitted.
  </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-2 control-label" for="singlebutton"></label>
        <div class="col-md-12">
          <input type="button" ng-click="updateCamper(camperData)" id="singlebutton" name="singlebutton" class="btn btn-default" value="Save" ng-hide="camperData.status == 'Submitted'" />
          <input type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary" value="Save and Submit" ng-hide="camperData.status == 'Submitted'" />
          <input type="button" ng-click="cancel(camperData)" id="singlebutton" name="singlebutton" class="btn btn-danger" value="Cancel" />
        </div>
      </div>



    </fieldset>
  </form>

</div>
