<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="page header lone_tree_nav">
    <div class="row" style="position:relative;">
      <div class = "col-md-6">
        <img src="logo.png" class="img-responsive" alt="Lone Tree Inc">
     </div>
      <div class="col-md-6 text-right" style="position:absolute;bottom:0;right:0;">
        <small><a href="mailto:support@vintagedesigninc.com?Subject=HBI%20Tech%20Support" target="_top">Tech Support</a> | <a href="logout.php" class="text-right">Log Out</a></small>
      </div>
    </div>
  </div>
  </div>
</nav>
<div class="container">

  <div class="row">

    <div>
      <h6 class="page-header">Event: </h6>
      <p>
      {{event_name}}
      </p>
      <div class="row placeholders">
        <!-- Camp Info -->
      </div>
    </div>

    <h2 class="sub-header">Campers</h2>
    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Submit Date</th>
            <th>Status</th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="campers in camper">
            <td>{{$index + 1}}</td>
            <td>{{campers.name_first}}</td>
            <td>{{campers.name_last}}</td>
            <td><button type="submit" name="submit" class="btn btn-success" role="button">Submit</button></td>
            <td>{{campers.status}}</td>
            <td>
              <button type="submit" name="view" class="btn btn-default" role="button" ng-show="view"><span class="glyphicon glyphicon-eye-open"></span></button>
              <button ng-click="fetchCampers(campers.zkp_camper_id)" type="submit" name="edit" class="btn btn-default" role="button"><span class="glyphicon glyphicon-edit"></span></button>
          <button type="submit" name="delete" class="btn btn-danger" role="button" style="display: none;"><span class="glyphicon glyphicon-trash"></span></button>
          <button type="button" name="deleteModalLauncher" id="deleteModalLauncher" class="btn btn-danger" role="button" data-toggle="modal" data-target="#deleteModal"><span class="glyphicon glyphicon-trash"></span></button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
</div>
